SUPABASE_URL=https://ppxjgofxvbuakjyxuedr.supabase.co
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBweGpnb2Z4dmJ1YWtqeXh1ZWRyIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4ODU5MzE2NywiZXhwIjoyMTA0MTY5MTY3fQ.gZQ0_MmB5Fn3vm1iHsUx6i-pqcy95HIOEgpXCcJCgEw
